@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

.navbar {
  background-color: black;
}

.logo {
  width: 100px;
}

.filmek {
  padding-top: 15vh;
  width: 70%;
  margin: 0 auto;
}

.kartya > img {
  width: 230px;
  border-radius: 10%;
}

.kartya > img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.kartya {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 2rem;
  padding: 2rem;
  border-bottom: 2px solid black;
}

.kartya:last-child {
  border: none;
}

.idopont_ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 1rem;
  flex-wrap: wrap;
}

.idopont_elem {
  background-color: #f5821e;
  padding: 1rem;
  border-radius: 10%;
  transition: 0.3s ease-in-out;
}

.idopont_elem:hover {
  background-color: #bb6215;
}

.idopont_elem > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.eletkor-kategoria {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 1rem;
}

section {
  padding-bottom: 2rem;
}

.footer-container {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.footer-container > p {
  color: rgb(83, 83, 83);
  font-size: 1.3rem;
}

@media screen and (max-width: 750px) {
  .kartya {
    grid-template-columns: 1fr;
  }
  .kartya > img {
    display: block;
    margin: auto;
  }
  .kartya-belso {
    padding-left: 1rem;
    border-left: 1.5px solid rgba(128, 128, 128, 0.611);
  }
}
